header.header
    .header-fixed 
        .container.container-big
            .header-fixed__inner
                .m-dropdown(data-toggle-btn-menu)
                    +icon('burger','m-dropdown__icon')
                    span каталог
                    .m-dropdown__btn
                    .m-dropdown__inner
                        .m-dropdown__list
                            .m-dropdown__item 
                                +icon('res0','m-dropdown__item-icon')
                                | Фильтры для питьевой воды
                                .m-dropdown__wrapper
                                    .m-dropdown__links(data-scroll)
                                        ul
                                            li 
                                                a(href="#") Умягчители воды
                                            li 
                                                a(href="#") Магистральные фильтры
                                            li 
                                                a(href="#") Фильтры-дозаторы
                                            li 
                                                a(href="#") Колонны
                                            li 
                                                a(href="#") Обезжелезиватели воды
                                            li 
                                                a(href="#") Аэрационные комплекты
                                            li 
                                                a(href="#") УФ-обеззараживатели воды
                                            li 
                                                a(href="#") УФ-обеззараживатели воды
                                            li 
                                                a(href="#") УФ-обеззараживатели воды
                                            li 
                                                a(href="#") УФ-обеззараживатели воды
                                            li 
                                                a(href="#") УФ-обеззараживатели воды
                                            li 
                                                a(href="#") УФ-обеззараживатели воды
                            .m-dropdown__item
                                +icon('res1','m-dropdown__item-icon')
                                | Оборудование для домов
                                .m-dropdown__wrapper
                                    .m-dropdown__links(data-scroll)
                                        ul 
                                            li 
                                                a(href="#") Умягчители воды
                                            li 
                                                a(href="#") Магистральные фильтры
                                            li 
                                                a(href="#") Фильтры-дозаторы
                                            li 
                                                a(href="#") Колонны
                                            li 
                                                a(href="#") Обезжелезиватели воды
                                            li 
                                                a(href="#") Аэрационные комплекты
                                            li 
                                                a(href="#") УФ-обеззараживатели воды
                            .m-dropdown__item
                                +icon('res2','m-dropdown__item-icon')
                                | Фильтры для душа и техники
                                .m-dropdown__wrapper
                                    .m-dropdown__links(data-scroll)
                                        ul 
                                            li 
                                                a(href="#") Умягчители воды
                                            li 
                                                a(href="#") Магистральные фильтры
                                            li 
                                                a(href="#") Фильтры-дозаторы
                                            li 
                                                a(href="#") Колонны
                                            li 
                                                a(href="#") Обезжелезиватели воды
                                            li 
                                                a(href="#") Аэрационные комплекты
                                            li 
                                                a(href="#") УФ-обеззараживатели воды
                            .m-dropdown__item
                                +icon('res3','m-dropdown__item-icon')
                                | Картриджи и сменные модули
                                .m-dropdown__wrapper
                                    .m-dropdown__links(data-scroll)
                                        ul 
                                            li 
                                                a(href="#") Умягчители воды
                                            li 
                                                a(href="#") Магистральные фильтры
                                            li 
                                                a(href="#") Фильтры-дозаторы
                                            li 
                                                a(href="#") Колонны
                                            li 
                                                a(href="#") Обезжелезиватели воды
                                            li 
                                                a(href="#") Аэрационные комплекты
                                            li 
                                                a(href="#") УФ-обеззараживатели воды
                            .m-dropdown__item
                                +icon('res4','m-dropdown__item-icon')
                                | Запчасти и комплектующие
                                .m-dropdown__wrapper
                                    .m-dropdown__links(data-scroll)
                                        ul 
                                            li 
                                                a(href="#") Умягчители воды
                                            li 
                                                a(href="#") Магистральные фильтры
                                            li 
                                                a(href="#") Фильтры-дозаторы
                                            li 
                                                a(href="#") Колонны
                                            li 
                                                a(href="#") Обезжелезиватели воды
                                            li 
                                                a(href="#") Аэрационные комплекты
                                            li 
                                                a(href="#") УФ-обеззараживатели воды
                            .m-dropdown__item
                                +icon('res5','m-dropdown__item-icon')
                                | Расходные материалы
                                .m-dropdown__wrapper
                                    .m-dropdown__links(data-scroll)
                                        ul 
                                            li 
                                                a(href="#") Умягчители воды
                                            li 
                                                a(href="#") Магистральные фильтры
                                            li 
                                                a(href="#") Фильтры-дозаторы
                                            li 
                                                a(href="#") Колонны
                                            li 
                                                a(href="#") Обезжелезиватели воды
                                            li 
                                                a(href="#") Аэрационные комплекты
                                            li 
                                                a(href="#") УФ-обеззараживатели воды
                            .m-dropdown__item
                                +icon('res6','m-dropdown__item-icon')
                                | Насосное оборудование
                                .m-dropdown__wrapper
                                    .m-dropdown__links(data-scroll)
                                        ul 
                                            li 
                                                a(href="#") Умягчители воды
                                            li 
                                                a(href="#") Магистральные фильтры
                                            li 
                                                a(href="#") Фильтры-дозаторы
                                            li 
                                                a(href="#") Колонны
                                            li 
                                                a(href="#") Обезжелезиватели воды
                                            li 
                                                a(href="#") Аэрационные комплекты
                                            li 
                                                a(href="#") УФ-обеззараживатели воды
                            .m-dropdown__item
                                +icon('res7','m-dropdown__item-icon')
                                | Сопутствующие товары
                                .m-dropdown__wrapper
                                    .m-dropdown__links(data-scroll)
                                        ul 
                                            li 
                                                a(href="#") Умягчители воды
                                            li 
                                                a(href="#") Магистральные фильтры
                                            li 
                                                a(href="#") Фильтры-дозаторы
                                            li 
                                                a(href="#") Колонны
                                            li 
                                                a(href="#") Обезжелезиватели воды
                                            li 
                                                a(href="#") Аэрационные комплекты
                                            li 
                                                a(href="#") УФ-обеззараживатели воды
                            .m-dropdown__item
                                +icon('res8','m-dropdown__item-icon')
                                | Услуги
                                .m-dropdown__wrapper
                                    .m-dropdown__links(data-scroll)
                                        ul 
                                            li 
                                                a(href="#") Умягчители воды
                                            li 
                                                a(href="#") Магистральные фильтры
                                            li 
                                                a(href="#") Фильтры-дозаторы
                                            li 
                                                a(href="#") Колонны
                                            li 
                                                a(href="#") Обезжелезиватели воды
                                            li 
                                                a(href="#") Аэрационные комплекты
                                            li 
                                                a(href="#") УФ-обеззараживатели воды
                .header__search.search
                    input(type="text" name="search" autocomplete="off" placeholder="Я ищу ...")
                    button(class="search__btn")
                        +icon('lupe','search__icon')
                .navbar
                    a(href="#").navbar__item
                        .navbar__circle
                            +icon('user','navbar__icon')
                    .navbar__block
                        a(href="#").navbar__item
                            .navbar__circle
                                +icon('compare','navbar__icon')
                        .productList
                            .productList__inner(data-scroll)
                                a(href="#").productList__item
                                    +icon('close','productList__close')
                                    img(src="static/images/img/slider/1.png" alt="logo")
                                    .productList__title Система обратного осмоса AURO-505U-JG
                                    .productList__price 7 000 р.
                                a(href="#").productList__item
                                    +icon('close','productList__close')
                                    img(src="static/images/img/slider/1.png" alt="logo")
                                    .productList__title Система обратного осмоса AURO-505U-JG
                                    .productList__price 7 000 р.
                                a(href="#").productList__item
                                    +icon('close','productList__close')
                                    img(src="static/images/img/slider/1.png" alt="logo")
                                    .productList__title Система обратного осмоса AURO-505U-JG
                                    .productList__price 7 000 р.
                                a(href="#").productList__item
                                    +icon('close','productList__close')
                                    img(src="static/images/img/slider/1.png" alt="logo")
                                    .productList__title Система обратного осмоса AURO-505U-JG
                                    .productList__price 7 000 р.
                            a(href="#" class="Button") Перейти к сравнению
                    a(href="#").navbar__item
                        .navbar__circle
                            +icon('favorite','navbar__icon')
                            .navbar__notice 1
                    .navbar__block
                        a(href="#").navbar__item
                            .basket
                                .navbar__circle
                                    +icon('cart','navbar__icon')
                                    .navbar__notice 2
                                .basket__price 4 800р.
                        .productList
                            .productList__inner(data-scroll)
                                a(href="#").productList__item
                                    +icon('close','productList__close')
                                    img(src="static/images/img/slider/1.png" alt="logo")
                                    .productList__title Система обратного осмоса AURO-505U-JG
                                    .productList__price 7 000 р.
                                a(href="#").productList__item
                                    +icon('close','productList__close')
                                    img(src="static/images/img/slider/1.png" alt="logo")
                                    .productList__title Система обратного осмоса AURO-505U-JG
                                    .productList__price 7 000 р.
                                a(href="#").productList__item
                                    +icon('close','productList__close')
                                    img(src="static/images/img/slider/1.png" alt="logo")
                                    .productList__title Система обратного осмоса AURO-505U-JG
                                    .productList__price 7 000 р.
                                a(href="#").productList__item
                                    +icon('close','productList__close')
                                    img(src="static/images/img/slider/1.png" alt="logo")
                                    .productList__title Система обратного осмоса AURO-505U-JG
                                    .productList__price 7 000 р.
                            .productList__bottom 
                                .productList__sum
                                    | Итого:
                                    span 21 000 р.
                                a(href="#" class="Button") Перейти в корзину
    .header-mobile
        +icon('menu','header-mobile__icon show-menu')
        img(src="static/images/img/logo-mobile.svg" alt="logo").header-mobile__logo
        .header-mobile__right
            .header-mobile__item(data-target-mobile="#search")
                +icon('lupe','header-mobile__icon')
            .header-mobile__item(data-target-mobile="#phone")
                +icon('call','header-mobile__icon')
            .header-mobile__item(data-popup-target="#RegistrationFiz")
                +icon('user','header-mobile__icon')
            a(href="#").header-mobile__item(data-list="#basket")
                +icon('cart','header-mobile__icon')
                .navbar__notice 2
        .header-dropdown(data-mobile="#search")
            .header__search.search
                input(type="text" name="search" autocomplete="off" placeholder="Я ищу ...")
                button(class="search__btn")
                    +icon('lupe','search__icon')
        .header-dropdown(data-mobile="#phone")
            .header-dropdown__info
                a(href="tel:+78005432525") 8 800 543-25-25
                a(href="tel:+78005432525") 8 800 543-25-25
                .header-callback(data-popup-target="#Call")
                    +icon('call','header-mobile__icon')
                    | Заказать звонок
                .socials
                    a(href="#")
                        img(src="static/images/img/socials/telegram.svg" alt="Telegram")
                    a(href="#")
                        img(src="static/images/img/socials/viber.svg" alt="Viber")
                    a(href="#")
                        img(src="static/images/img/socials/whatsapp.svg" alt="Whatsapp")
    .header-top
        .container.container-big
            .header-top__inner
                .header-top__city
                    img(src="static/images/img/logo-top.svg" alt="Мы - №1 в Башкирии")
                    a(href="#") 
                        span Мы - №1 в Башкирии
                    .tooltipe-city
                        +icon('percent','tooltipe-city__icon')
                        a(href="#") Скидки покупателям, которые приносят старые картриджи для последующей утилизации >>
                .header-top__right
                    .location
                        | Город:
                        .location__city 
                            +icon('location','location__icon')
                            a(href="#") Уфа
                        .location__popup
                            ul
                                li
                                    a(href="#") Уфа 
                                li
                                    a(href="#") Оренбург 
                                li
                                    a(href="#") Стерлитамак 
                    .socials
                        a(href="#") 
                            img(src="static/images/img/socials/telegram.svg" alt="Telegram")
                        a(href="#") 
                            img(src="static/images/img/socials/viber.svg" alt="Viber")
                        a(href="#") 
                            img(src="static/images/img/socials/whatsapp.svg" alt="Whatsapp")
                    .header-top__phone
                        a(href="tel:+78005007533") 8 (800) 500 75 33
                        +icon('arrow-down','header-top__phone-icon')
                        .popup-phone
                            a(href="tel:+79453450085") +7 (945) 345 00 85
                            a(href="tel:+78008597533") +7 (800) 859 75 33
                            .socials
                                ul 
                                    li 
                                        a(href="#")
                                            img(src="static/images/img/socials/telegram.svg" alt="Telegram")
                                            span Telegram
                                    li
                                        a(href="#")
                                            img(src="static/images/img/socials/viber.svg" alt="Viber")
                                            span Whatsapp
                                    li
                                        a(href="#")
                                            img(src="static/images/img/socials/whatsapp.svg" alt="Whatsapp")
                                            span Viber
                    .callback(data-popup-target="#Call")
                        +icon('call','callback__icon')
                        | Заказать звонок
    .header-center
        .container.container-big
            .header-center__inner
                a(href="#").header__logo.logo 
                    img(src="static/images/img/logo.svg" alt="logo")
                .header__search.search
                    input(type="text" name="search" autocomplete="off" placeholder="Я ищу ...")
                    button(class="search__btn")
                        +icon('lupe','search__icon')
                .navbar
                    a(href="#" data-popup-target="#RegistrationJur").navbar__item
                        .navbar__circle
                            +icon('user','navbar__icon')
                        | Вход
                    .navbar__block
                        a(href="#").navbar__item
                            .navbar__circle
                                +icon('compare','navbar__icon')
                            | Сравнение
                        .productList
                            .productList__inner(data-scroll)
                                a(href="#").productList__item
                                    +icon('close','productList__close')
                                    img(src="static/images/img/slider/1.png" alt="logo")
                                    .productList__title Система обратного осмоса AURO-505U-JG
                                    .productList__price 7 000 р.
                                a(href="#").productList__item
                                    +icon('close','productList__close')
                                    img(src="static/images/img/slider/1.png" alt="logo")
                                    .productList__title Система обратного осмоса AURO-505U-JG
                                    .productList__price 7 000 р.
                                a(href="#").productList__item
                                    +icon('close','productList__close')
                                    img(src="static/images/img/slider/1.png" alt="logo")
                                    .productList__title Система обратного осмоса AURO-505U-JG
                                    .productList__price 7 000 р.
                                a(href="#").productList__item
                                    +icon('close','productList__close')
                                    img(src="static/images/img/slider/1.png" alt="logo")
                                    .productList__title Система обратного осмоса AURO-505U-JG
                                    .productList__price 7 000 р.
                            a(href="#" class="Button") Перейти к сравнению
                    a(href="#").navbar__item
                        .navbar__circle
                            +icon('favorite','navbar__icon')
                            .navbar__notice 1
                        | Избранное
                    .navbar__block
                        a(href="#").navbar__item(data-list="#basket")
                            .basket
                                .navbar__circle
                                    +icon('cart','navbar__icon')
                                    .navbar__notice 2
                                .basket__price 4 800р.
                            | Корзина
                        .productList
                            .productList__inner(data-scroll)
                                a(href="#").productList__item
                                    +icon('close','productList__close')
                                    img(src="static/images/img/slider/1.png" alt="logo")
                                    .productList__title Система обратного осмоса AURO-505U-JG
                                    .productList__price 7 000 р.
                                a(href="#").productList__item
                                    +icon('close','productList__close')
                                    img(src="static/images/img/slider/1.png" alt="logo")
                                    .productList__title Система обратного осмоса AURO-505U-JG
                                    .productList__price 7 000 р.
                                a(href="#").productList__item
                                    +icon('close','productList__close')
                                    img(src="static/images/img/slider/1.png" alt="logo")
                                    .productList__title Система обратного осмоса AURO-505U-JG
                                    .productList__price 7 000 р.
                                a(href="#").productList__item
                                    +icon('close','productList__close')
                                    img(src="static/images/img/slider/1.png" alt="logo")
                                    .productList__title Система обратного осмоса AURO-505U-JG
                                    .productList__price 7 000 р.
                            .productList__bottom 
                                .productList__sum
                                    | Итого:
                                    span 21 000 р.
                                a(href="#" class="Button") Перейти в корзину
    .header-bottom
        .container.container-big
            .header-bottom__inner
                .m-dropdown
                    +icon('burger','m-dropdown__icon')
                    span каталог
                    .m-dropdown__btn
                    .m-dropdown__inner
                        .m-dropdown__list
                            .m-dropdown__item 
                                +icon('res0','m-dropdown__item-icon')
                                | Фильтры для питьевой воды
                                .m-dropdown__wrapper
                                    .m-dropdown__links(data-scroll)
                                        ul
                                            li 
                                                a(href="#") Умягчители воды
                                            li 
                                                a(href="#") Магистральные фильтры
                                            li 
                                                a(href="#") Фильтры-дозаторы
                                            li 
                                                a(href="#") Колонны
                                            li 
                                                a(href="#") Обезжелезиватели воды
                                            li 
                                                a(href="#") Аэрационные комплекты
                                            li 
                                                a(href="#") УФ-обеззараживатели воды
                                            li 
                                                a(href="#") УФ-обеззараживатели воды
                                            li 
                                                a(href="#") УФ-обеззараживатели воды
                                            li 
                                                a(href="#") УФ-обеззараживатели воды
                                            li 
                                                a(href="#") УФ-обеззараживатели воды
                                            li 
                                                a(href="#") УФ-обеззараживатели воды
                            .m-dropdown__item
                                +icon('res1','m-dropdown__item-icon')
                                | Оборудование для домов
                                .m-dropdown__wrapper
                                    .m-dropdown__links(data-scroll)
                                        ul 
                                            li 
                                                a(href="#") Умягчители воды
                                            li 
                                                a(href="#") Магистральные фильтры
                                            li 
                                                a(href="#") Фильтры-дозаторы
                                            li 
                                                a(href="#") Колонны
                                            li 
                                                a(href="#") Обезжелезиватели воды
                                            li 
                                                a(href="#") Аэрационные комплекты
                                            li 
                                                a(href="#") УФ-обеззараживатели воды
                            .m-dropdown__item
                                +icon('res2','m-dropdown__item-icon')
                                | Фильтры для душа и техники
                                .m-dropdown__wrapper
                                    .m-dropdown__links(data-scroll)
                                        ul 
                                            li 
                                                a(href="#") Умягчители воды
                                            li 
                                                a(href="#") Магистральные фильтры
                                            li 
                                                a(href="#") Фильтры-дозаторы
                                            li 
                                                a(href="#") Колонны
                                            li 
                                                a(href="#") Обезжелезиватели воды
                                            li 
                                                a(href="#") Аэрационные комплекты
                                            li 
                                                a(href="#") УФ-обеззараживатели воды
                            .m-dropdown__item
                                +icon('res3','m-dropdown__item-icon')
                                | Картриджи и сменные модули
                                .m-dropdown__wrapper
                                    .m-dropdown__links(data-scroll)
                                        ul 
                                            li 
                                                a(href="#") Умягчители воды
                                            li 
                                                a(href="#") Магистральные фильтры
                                            li 
                                                a(href="#") Фильтры-дозаторы
                                            li 
                                                a(href="#") Колонны
                                            li 
                                                a(href="#") Обезжелезиватели воды
                                            li 
                                                a(href="#") Аэрационные комплекты
                                            li 
                                                a(href="#") УФ-обеззараживатели воды
                            .m-dropdown__item
                                +icon('res4','m-dropdown__item-icon')
                                | Запчасти и комплектующие
                                .m-dropdown__wrapper
                                    .m-dropdown__links(data-scroll)
                                        ul 
                                            li 
                                                a(href="#") Умягчители воды
                                            li 
                                                a(href="#") Магистральные фильтры
                                            li 
                                                a(href="#") Фильтры-дозаторы
                                            li 
                                                a(href="#") Колонны
                                            li 
                                                a(href="#") Обезжелезиватели воды
                                            li 
                                                a(href="#") Аэрационные комплекты
                                            li 
                                                a(href="#") УФ-обеззараживатели воды
                            .m-dropdown__item
                                +icon('res5','m-dropdown__item-icon')
                                | Расходные материалы
                                .m-dropdown__wrapper
                                    .m-dropdown__links(data-scroll)
                                        ul 
                                            li 
                                                a(href="#") Умягчители воды
                                            li 
                                                a(href="#") Магистральные фильтры
                                            li 
                                                a(href="#") Фильтры-дозаторы
                                            li 
                                                a(href="#") Колонны
                                            li 
                                                a(href="#") Обезжелезиватели воды
                                            li 
                                                a(href="#") Аэрационные комплекты
                                            li 
                                                a(href="#") УФ-обеззараживатели воды
                            .m-dropdown__item
                                +icon('res6','m-dropdown__item-icon')
                                | Насосное оборудование
                                .m-dropdown__wrapper
                                    .m-dropdown__links(data-scroll)
                                        ul 
                                            li 
                                                a(href="#") Умягчители воды
                                            li 
                                                a(href="#") Магистральные фильтры
                                            li 
                                                a(href="#") Фильтры-дозаторы
                                            li 
                                                a(href="#") Колонны
                                            li 
                                                a(href="#") Обезжелезиватели воды
                                            li 
                                                a(href="#") Аэрационные комплекты
                                            li 
                                                a(href="#") УФ-обеззараживатели воды
                            .m-dropdown__item
                                +icon('res7','m-dropdown__item-icon')
                                | Сопутствующие товары
                                .m-dropdown__wrapper
                                    .m-dropdown__links(data-scroll)
                                        ul 
                                            li 
                                                a(href="#") Умягчители воды
                                            li 
                                                a(href="#") Магистральные фильтры
                                            li 
                                                a(href="#") Фильтры-дозаторы
                                            li 
                                                a(href="#") Колонны
                                            li 
                                                a(href="#") Обезжелезиватели воды
                                            li 
                                                a(href="#") Аэрационные комплекты
                                            li 
                                                a(href="#") УФ-обеззараживатели воды
                            .m-dropdown__item
                                +icon('res8','m-dropdown__item-icon')
                                | Услуги
                                .m-dropdown__wrapper
                                    .m-dropdown__links(data-scroll)
                                        ul 
                                            li 
                                                a(href="#") Умягчители воды
                                            li 
                                                a(href="#") Магистральные фильтры
                                            li 
                                                a(href="#") Фильтры-дозаторы
                                            li 
                                                a(href="#") Колонны
                                            li 
                                                a(href="#") Обезжелезиватели воды
                                            li 
                                                a(href="#") Аэрационные комплекты
                                            li 
                                                a(href="#") УФ-обеззараживатели воды
                .main-nav
                    ul.main-nav__list
                        li.main-nav__item 
                            | бренды
                            +icon('down-arrow','main-nav__icon')
                            .m-dropdown__inner
                                .m-dropdown__list
                                    .m-dropdown__item
                                        | Фильтры для питьевой воды
                                        .m-dropdown__wrapper
                                            .m-dropdown__links(data-scroll)
                                                ul
                                                    li 
                                                        a(href="#") Умягчители воды
                                                    li 
                                                        a(href="#") Магистральные фильтры
                                                    li 
                                                        a(href="#") Фильтры-дозаторы
                                                    li 
                                                        a(href="#") Колонны
                                                    li 
                                                        a(href="#") Обезжелезиватели воды
                                                    li 
                                                        a(href="#") Аэрационные комплекты
                                                    li 
                                                        a(href="#") УФ-обеззараживатели воды
                                                    li 
                                                        a(href="#") УФ-обеззараживатели воды
                                                    li 
                                                        a(href="#") УФ-обеззараживатели воды
                                                    li 
                                                        a(href="#") УФ-обеззараживатели воды
                                                    li 
                                                        a(href="#") УФ-обеззараживатели воды
                                                    li 
                                                        a(href="#") УФ-обеззараживатели воды
                                    .m-dropdown__item
                                        | Оборудование для домов
                                        .m-dropdown__wrapper
                                            .m-dropdown__links(data-scroll)
                                                ul 
                                                    li 
                                                        a(href="#") Умягчители воды
                                                    li 
                                                        a(href="#") Магистральные фильтры
                                                    li 
                                                        a(href="#") Фильтры-дозаторы
                                                    li 
                                                        a(href="#") Колонны
                                                    li 
                                                        a(href="#") Обезжелезиватели воды
                                                    li 
                                                        a(href="#") Аэрационные комплекты
                                                    li 
                                                        a(href="#") УФ-обеззараживатели воды
                                    .m-dropdown__item
                                        | Фильтры для душа и техники
                                        .m-dropdown__wrapper
                                            .m-dropdown__links(data-scroll)
                                                ul 
                                                    li 
                                                        a(href="#") Умягчители воды
                                                    li 
                                                        a(href="#") Магистральные фильтры
                                                    li 
                                                        a(href="#") Фильтры-дозаторы
                                                    li 
                                                        a(href="#") Колонны
                                                    li 
                                                        a(href="#") Обезжелезиватели воды
                                                    li 
                                                        a(href="#") Аэрационные комплекты
                                                    li 
                                                        a(href="#") УФ-обеззараживатели воды
                                    .m-dropdown__item
                                        | Картриджи и сменные модули
                                        .m-dropdown__wrapper
                                            .m-dropdown__links(data-scroll)
                                                ul 
                                                    li 
                                                        a(href="#") Умягчители воды
                                                    li 
                                                        a(href="#") Магистральные фильтры
                                                    li 
                                                        a(href="#") Фильтры-дозаторы
                                                    li 
                                                        a(href="#") Колонны
                                                    li 
                                                        a(href="#") Обезжелезиватели воды
                                                    li 
                                                        a(href="#") Аэрационные комплекты
                                                    li 
                                                        a(href="#") УФ-обеззараживатели воды
                                    .m-dropdown__item
                                        | Запчасти и комплектующие
                                        .m-dropdown__wrapper
                                            .m-dropdown__links(data-scroll)
                                                ul 
                                                    li 
                                                        a(href="#") Умягчители воды
                                                    li 
                                                        a(href="#") Магистральные фильтры
                                                    li 
                                                        a(href="#") Фильтры-дозаторы
                                                    li 
                                                        a(href="#") Колонны
                                                    li 
                                                        a(href="#") Обезжелезиватели воды
                                                    li 
                                                        a(href="#") Аэрационные комплекты
                                                    li 
                                                        a(href="#") УФ-обеззараживатели воды
                                    .m-dropdown__item
                                        | Расходные материалы
                                        .m-dropdown__wrapper
                                            .m-dropdown__links(data-scroll)
                                                ul 
                                                    li 
                                                        a(href="#") Умягчители воды
                                                    li 
                                                        a(href="#") Магистральные фильтры
                                                    li 
                                                        a(href="#") Фильтры-дозаторы
                                                    li 
                                                        a(href="#") Колонны
                                                    li 
                                                        a(href="#") Обезжелезиватели воды
                                                    li 
                                                        a(href="#") Аэрационные комплекты
                                                    li 
                                                        a(href="#") УФ-обеззараживатели воды
                                    .m-dropdown__item
                                        | Насосное оборудование
                                        .m-dropdown__wrapper
                                            .m-dropdown__links(data-scroll)
                                                ul 
                                                    li 
                                                        a(href="#") Умягчители воды
                                                    li 
                                                        a(href="#") Магистральные фильтры
                                                    li 
                                                        a(href="#") Фильтры-дозаторы
                                                    li 
                                                        a(href="#") Колонны
                                                    li 
                                                        a(href="#") Обезжелезиватели воды
                                                    li 
                                                        a(href="#") Аэрационные комплекты
                                                    li 
                                                        a(href="#") УФ-обеззараживатели воды
                                    .m-dropdown__item
                                        | Сопутствующие товары
                                        .m-dropdown__wrapper
                                            .m-dropdown__links(data-scroll)
                                                ul 
                                                    li 
                                                        a(href="#") Умягчители воды
                                                    li 
                                                        a(href="#") Магистральные фильтры
                                                    li 
                                                        a(href="#") Фильтры-дозаторы
                                                    li 
                                                        a(href="#") Колонны
                                                    li 
                                                        a(href="#") Обезжелезиватели воды
                                                    li 
                                                        a(href="#") Аэрационные комплекты
                                                    li 
                                                        a(href="#") УФ-обеззараживатели воды
                                    .m-dropdown__item
                                        | Услуги
                                        .m-dropdown__wrapper
                                            .m-dropdown__links(data-scroll)
                                                ul 
                                                    li 
                                                        a(href="#") Умягчители воды
                                                    li 
                                                        a(href="#") Магистральные фильтры
                                                    li 
                                                        a(href="#") Фильтры-дозаторы
                                                    li 
                                                        a(href="#") Колонны
                                                    li 
                                                        a(href="#") Обезжелезиватели воды
                                                    li 
                                                        a(href="#") Аэрационные комплекты
                                                    li 
                                                        a(href="#") УФ-обеззараживатели воды
                        li.main-nav__item 
                            | услуги
                            +icon('down-arrow','main-nav__icon')
                            .m-dropdown__inner
                                .m-dropdown__list
                                    .m-dropdown__item
                                        | Фильтры для питьевой воды
                                        .m-dropdown__wrapper
                                            .m-dropdown__links(data-scroll)
                                                ul
                                                    li 
                                                        a(href="#") Умягчители воды
                                                    li 
                                                        a(href="#") Магистральные фильтры
                                                    li 
                                                        a(href="#") Фильтры-дозаторы
                                                    li 
                                                        a(href="#") Колонны
                                                    li 
                                                        a(href="#") Обезжелезиватели воды
                                                    li 
                                                        a(href="#") Аэрационные комплекты
                                                    li 
                                                        a(href="#") УФ-обеззараживатели воды
                                                    li 
                                                        a(href="#") УФ-обеззараживатели воды
                                                    li 
                                                        a(href="#") УФ-обеззараживатели воды
                                                    li 
                                                        a(href="#") УФ-обеззараживатели воды
                                                    li 
                                                        a(href="#") УФ-обеззараживатели воды
                                                    li 
                                                        a(href="#") УФ-обеззараживатели воды
                                    .m-dropdown__item
                                        | Оборудование для домов
                                        .m-dropdown__wrapper
                                            .m-dropdown__links(data-scroll)
                                                ul 
                                                    li 
                                                        a(href="#") Умягчители воды
                                                    li 
                                                        a(href="#") Магистральные фильтры
                                                    li 
                                                        a(href="#") Фильтры-дозаторы
                                                    li 
                                                        a(href="#") Колонны
                                                    li 
                                                        a(href="#") Обезжелезиватели воды
                                                    li 
                                                        a(href="#") Аэрационные комплекты
                                                    li 
                                                        a(href="#") УФ-обеззараживатели воды
                                    .m-dropdown__item
                                        | Фильтры для душа и техники
                                        .m-dropdown__wrapper
                                            .m-dropdown__links(data-scroll)
                                                ul 
                                                    li 
                                                        a(href="#") Умягчители воды
                                                    li 
                                                        a(href="#") Магистральные фильтры
                                                    li 
                                                        a(href="#") Фильтры-дозаторы
                                                    li 
                                                        a(href="#") Колонны
                                                    li 
                                                        a(href="#") Обезжелезиватели воды
                                                    li 
                                                        a(href="#") Аэрационные комплекты
                                                    li 
                                                        a(href="#") УФ-обеззараживатели воды
                                    .m-dropdown__item
                                        | Картриджи и сменные модули
                                        .m-dropdown__wrapper
                                            .m-dropdown__links(data-scroll)
                                                ul 
                                                    li 
                                                        a(href="#") Умягчители воды
                                                    li 
                                                        a(href="#") Магистральные фильтры
                                                    li 
                                                        a(href="#") Фильтры-дозаторы
                                                    li 
                                                        a(href="#") Колонны
                                                    li 
                                                        a(href="#") Обезжелезиватели воды
                                                    li 
                                                        a(href="#") Аэрационные комплекты
                                                    li 
                                                        a(href="#") УФ-обеззараживатели воды
                                    .m-dropdown__item
                                        | Запчасти и комплектующие
                                        .m-dropdown__wrapper
                                            .m-dropdown__links(data-scroll)
                                                ul 
                                                    li 
                                                        a(href="#") Умягчители воды
                                                    li 
                                                        a(href="#") Магистральные фильтры
                                                    li 
                                                        a(href="#") Фильтры-дозаторы
                                                    li 
                                                        a(href="#") Колонны
                                                    li 
                                                        a(href="#") Обезжелезиватели воды
                                                    li 
                                                        a(href="#") Аэрационные комплекты
                                                    li 
                                                        a(href="#") УФ-обеззараживатели воды
                                    .m-dropdown__item
                                        | Расходные материалы
                                        .m-dropdown__wrapper
                                            .m-dropdown__links(data-scroll)
                                                ul 
                                                    li 
                                                        a(href="#") Умягчители воды
                                                    li 
                                                        a(href="#") Магистральные фильтры
                                                    li 
                                                        a(href="#") Фильтры-дозаторы
                                                    li 
                                                        a(href="#") Колонны
                                                    li 
                                                        a(href="#") Обезжелезиватели воды
                                                    li 
                                                        a(href="#") Аэрационные комплекты
                                                    li 
                                                        a(href="#") УФ-обеззараживатели воды
                                    .m-dropdown__item
                                        | Насосное оборудование
                                        .m-dropdown__wrapper
                                            .m-dropdown__links(data-scroll)
                                                ul 
                                                    li 
                                                        a(href="#") Умягчители воды
                                                    li 
                                                        a(href="#") Магистральные фильтры
                                                    li 
                                                        a(href="#") Фильтры-дозаторы
                                                    li 
                                                        a(href="#") Колонны
                                                    li 
                                                        a(href="#") Обезжелезиватели воды
                                                    li 
                                                        a(href="#") Аэрационные комплекты
                                                    li 
                                                        a(href="#") УФ-обеззараживатели воды
                                    .m-dropdown__item
                                        | Сопутствующие товары
                                        .m-dropdown__wrapper
                                            .m-dropdown__links(data-scroll)
                                                ul 
                                                    li 
                                                        a(href="#") Умягчители воды
                                                    li 
                                                        a(href="#") Магистральные фильтры
                                                    li 
                                                        a(href="#") Фильтры-дозаторы
                                                    li 
                                                        a(href="#") Колонны
                                                    li 
                                                        a(href="#") Обезжелезиватели воды
                                                    li 
                                                        a(href="#") Аэрационные комплекты
                                                    li 
                                                        a(href="#") УФ-обеззараживатели воды
                                    .m-dropdown__item
                                        | Услуги
                                        .m-dropdown__wrapper
                                            .m-dropdown__links(data-scroll)
                                                ul 
                                                    li 
                                                        a(href="#") Умягчители воды
                                                    li 
                                                        a(href="#") Магистральные фильтры
                                                    li 
                                                        a(href="#") Фильтры-дозаторы
                                                    li 
                                                        a(href="#") Колонны
                                                    li 
                                                        a(href="#") Обезжелезиватели воды
                                                    li 
                                                        a(href="#") Аэрационные комплекты
                                                    li 
                                                        a(href="#") УФ-обеззараживатели воды
                        li.main-nav__item
                            a(href="#").main-nav__link магазины
                        li.main-nav__item 
                            a(href="#").main-nav__link акции
                        li.main-nav__item 
                            a(href="#").main-nav__link доставка и оплата
                        li.main-nav__item 
                            a(href="#").main-nav__link сервисы и поддержка
                        li.main-nav__item 
                            | о нас
                            +icon('down-arrow','main-nav__icon')
                            .main-nav__inner 
                                a(href="#") Контакты
                                a(href="#") Отзывы
                                a(href="#") О компании
                                a(href="#") Вопросы и ответы