extends template/main

block variables
	- var title = 'Карта продукта'
	- var pageClass = 'map-product-page'



block content
	include modules/section/mapProduct
	include modules/section/relatedProduct
	include modules/section/advantages
	include modules/section/recommend
	include modules/section/ask




