@font-face {
 font-family: 'GothamPro';
 src: url('../fonts/GothamPro/GothamPro-Light.woff2') format('woff2');
 src: url('../fonts/GothamPro/GothamPro-Light.woff') format('woff');
 font-weight: 300;
 font-style: normal;
}

@font-face {
 font-family: 'GothamPro';
 src: url('../fonts/GothamPro/GothamPro.woff2') format('woff2');
 src: url('../fonts/GothamPro/GothamPro.woff') format('woff');
 font-weight: 400;
 font-style: normal;
}

@font-face {
 font-family: 'GothamPro';
 src: url('../fonts/GothamPro/GothamPro-Medium.woff2') format('woff2');
 src: url('../fonts/GothamPro/GothamPro-Medium.woff') format('woff');
 font-weight: 500;
 font-style: normal;
}

@font-face {
 font-family: 'GothamPro';
 src: url('../fonts/GothamPro/GothamPro-Bold.woff2') format('woff2');
 src: url('../fonts/GothamPro/GothamPro-Bold.woff') format('woff');
 font-weight: 700;
 font-style: normal;
}

@font-face {
 font-family: 'MoscowSansRegular';
 src: url('../fonts/MoscowSansRegular/MoscowSansRegular.woff2') format('woff2');
 src: url('../fonts/MoscowSansRegular/MoscowSansRegular.woff') format('woff');
 font-weight: normal;
 font-style: normal;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('../fonts/SFProDisplay/SFProDisplay-Black.woff2') format('woff2');
    src: url('../fonts/SFProDisplay/SFProDisplay-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'SFProDisplay';
    src: url('../fonts/SFProDisplay/SFProDisplay-Bold.woff2') format('woff2');
    src: url('../fonts/SFProDisplay/SFProDisplay-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'SFProDisplay';
    src: url('../fonts/SFProDisplay/SFProDisplay-Regular.woff2') format('woff2');
    src: url('../fonts/SFProDisplay/SFProDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SFProDisplay';
    src: url('../fonts/SFProDisplay/SFProDisplay-Light.woff2') format('woff2');
    src: url('../fonts/SFProDisplay/SFProDisplay-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'SFProDisplay';
    src: url('../fonts/SFProDisplay/SFProDisplay-Medium.woff2') format('woff2');
    src: url('../fonts/SFProDisplay/SFProDisplay-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

