.s-advantages
    .advantages__top
        .container
            .section-title.section-title--adv.section-title--white
                .section-title__text
                    img(src="static/images/img/title-img.png" alt="Картинка")
                    | Наши преимущества
            p Забота о клиентах - это наша работа, а когда клиенты ценят нашу работу - это наша мотивация
    .advantages__body
        .container
            .advantages__list 
                .advantages__item
                    .advantages__head
                        img(src="static/images/img/advantages/icon-2.png" alt="Комплексный подход")
                        .advantages__title Комплексный подход
                    p Делаем “под ключ”: от анализа воды до получения на выходе чистой питьевой воды или воды нужного качества
                        
                .advantages__item
                    .advantages__head
                        img(src="static/images/img/advantages/icon-4.png" alt="Комплексный подход")
                        .advantages__title Все в одном месте
                    p У нас можно не только купить, но наши специалисты быстро установят и помогут в будущем обслуживать вашу систему
                .advantages__item
                    .advantages__head
                        img(src="static/images/img/advantages/icon-3.png" alt="Комплексный подход")
                        .advantages__title Хорошая доступность
                    p 
                        | Купить и заказать можно как онлайн на сайте, так и оффлайн - точки в крупных 
                        b ТЦ (в Уфе - 6 точек, Оренбурге - 4, в Стерлитамаке - 1)
                .advantages__item
                    .advantages__head
                        img(src="static/images/img/advantages/icon-1.png" alt="Комплексный подход")
                        .advantages__title Богатый опыт
                    p Сплоченный коллектив профессионалов, который работает уже более 15 лет на рынке водоподготовки и очистки воды
        