.s-assortment
    .container 
        .section-title.section-title--assort
            h2.section-title__text
                img(src="static/images/img/title-img.png" alt="Картинка")
                | SEO заголовок в Москве и области
        .assortment
            p В нашем магазине Вы можете приобрести качественную и сертифицированную продукцию для очистки воды | фильтры для воды известных брендов.В каталоге представлены:
            ul 
                li Фильтры-кувшины;
                li Кассеты фильтрующие сменные;
                li Проточные системы;
                li Системы обратного осмоса;
                li Магистральные фильтры;
                li Фильтроэлементы проточные;
                li Оборудование для очистки воды на предприятиях;
                li Оборудование для очистки воды в загородном доме, коттедже.;
            p Дизайнера нашли благодаря общим знакомым, и на первой встрече заказчики сразу обозначили, что хотят образ “французской квартиры”. Оксана вспоминает: “Сначала я сделала им монохромный вариант, но, взглянув, они сказали, что хотели бы добавить цвет. Я решила оставить белую оболочку и насытить ее цветными предметами — такая идея им очень понравилась, и проект быстро согласовали”.
            p Дизайнера нашли благодаря общим знакомым, и на первой встрече заказчики сразу обозначили, что хотят образ “французской квартиры”. Оксана вспоминает: “Сначала я сделала им монохромный вариант.
