.s-brands
    .container 
        .section-title.mb-30
            .section-title__text
                img(src="static/images/img/title-img.png" alt="Картинка")
                | Наши бренды
        p Официальный дилер известных производителей

        .brands
            .brands__list(data-slider-brand data-init-slider)
                a(href="#" target="_blank").brands__item
                    img(src="static/images/img/brands/aquaphor.png" alt="aquaphor")
                    .brands__link 
                        span 352
                        | &nbsp;товара
                        +icon('next','brands__icon')
                a(href="#" target="_blank").brands__item
                    img(src="static/images/img/brands/geyser.png" alt="geyser")
                    .brands__link 
                        span 300
                        | &nbsp;товара
                        +icon('next','brands__icon')
                a(href="#").brands__item
                    img(src="static/images/img/brands/barer.png" alt="barer")
                    .brands__link 
                        span 13
                        | &nbsp;товара
                        +icon('next','brands__icon')
                a(href="#").brands__item
                    img(src="static/images/img/brands/atoll.png" alt="atoll")
                    .brands__link 
                        span 52
                        | &nbsp;товара
                        +icon('next','brands__icon')
                a(href="#" target="_blank").brands__item
                    img(src="static/images/img/brands/wasser.png" alt="wasser")
                    .brands__link 
                        span 102
                        | &nbsp;товара
                        +icon('next','brands__icon')
                a(href="#" target="_blank").brands__item
                    img(src="static/images/img/brands/lesoto.png" alt="lesoto")
                    .brands__link 
                        span 500
                        | &nbsp;товара
                        +icon('next','brands__icon')
                a(href="#" target="_blank").brands__item
                    img(src="static/images/img/brands/aquapro.png" alt="aquapro")
                    .brands__link 
                        span 3520
                        | &nbsp;товара
                        +icon('next','brands__icon')
                a(href="#" target="_blank").brands__item
                    img(src="static/images/img/brands/waterboss.png" alt="waterboss")
                    .brands__link 
                        span 244
                        | &nbsp;товара
                        +icon('next','brands__icon')
                a(href="#" target="_blank").brands__item
                    img(src="static/images/img/brands/bwt.png" alt="bwt")
                    .brands__link 
                        span 199
                        | &nbsp;товара
                        +icon('next','brands__icon')