.w-page
    .w-page__col
        .filter 
            .filter-menu
                .filter-menu__item
                    .filter-menu__top
                        .filter__plus
                        | Фильтры для питьевой воды
                    .filter-menu__list
                        a(href="#") Таблетированная соль
                        a(href="#") Химия для бассейнов
                        a(href="#") Химия для бассейнов
                        a(href="#") Химия для бассейнов
                        a(href="#") Химия для бассейнов
                        a(href="#") Химия для бассейнов
                .filter-menu__item
                    .filter-menu__top
                        .filter__plus
                        | Расходные материалы
                    .filter-menu__list
                        a(href="#") Таблетированная соль
                        a(href="#") Химия для бассейнов
                        a(href="#") Химия для бассейнов
                        a(href="#") Химия для бассейнов
                        a(href="#") Химия для бассейнов
                        a(href="#") Химия для бассейнов
                .filter-menu__item
                    .filter-menu__top
                        .filter__plus
                        | Насосное оборудование
                    .filter-menu__list
                        a(href="#") Таблетированная соль
                        a(href="#") Химия для бассейнов
                        a(href="#") Химия для бассейнов
                        a(href="#") Химия для бассейнов
                        a(href="#") Химия для бассейнов
                        a(href="#") Химия для бассейнов
                .filter-menu__item
                    .filter-menu__top
                        .filter__plus
                        | Сопутствующие товары
                    .filter-menu__list
                        a(href="#") Таблетированная соль
                        a(href="#") Химия для бассейнов
                        a(href="#") Химия для бассейнов
                        a(href="#") Химия для бассейнов
                        a(href="#") Химия для бассейнов
                        a(href="#") Химия для бассейнов
                .filter-menu__item
                    .filter-menu__top
                        .filter__plus
                        | Услуги
                    .filter-menu__list
                        a(href="#") Таблетированная соль
                        a(href="#") Химия для бассейнов
                        a(href="#") Химия для бассейнов
                        a(href="#") Химия для бассейнов
                        a(href="#") Химия для бассейнов
                        a(href="#") Химия для бассейнов
            .filter__item 
                .filter__top 
                    | Цена, р.
                    .filter__plus
                .range__slider
                    .range__input
                        input(type="text" class="range-from" name="priceFrom")
                        span -
                        input(type="text" class="range-to" name="priceTo")
                    .price-slider
            .filter__item 
                .filter__top
                    | Бренд
                    .filter__plus
                .filter-check
                    .filter-check__item
                        input(type="checkbox" name="brend" id="brend")
                        label(for="brend") 
                            | Mineral Plus (1)
                            +icon('check','filter-check__icon')
                    .filter-check__item
                        input(type="checkbox" name="brend1" id="brend1")
                        label(for="brend1") 
                            | Ecosoft (3)
                            +icon('check','filter-check__icon')
                    .filter-check__item
                        input(type="checkbox" name="brend2" id="brend2")
                        label(for="brend2") 
                            | Organic (5)
                            +icon('check','filter-check__icon')
                    .filter-check__item
                        input(type="checkbox" name="brend3" id="brend3")
                        label(for="brend3") 
                            | Raifil (5)
                            +icon('check','filter-check__icon')
                    .filter-check__item
                        input(type="checkbox" name="brend4" id="brend4")
                        label(for="brend4") 
                            | Leader (1)
                            +icon('check','filter-check__icon')
                    .filter-check__item
                        input(type="checkbox" name="brend6" id="brend6")
                        label(for="brend6") 
                            | Aqualine (2)
                            +icon('check','filter-check__icon')
                    .filter-check__item
                        input(type="checkbox" name="brend7" id="brend7")
                        label(for="brend7") 
                            | Aquafilter (6)
                            +icon('check','filter-check__icon')
            .filter__item 
                .filter__top
                    | Тип картриджа
                    .filter__plus
                .filter-check
                    .filter-check__item
                        input(type="checkbox" name="cartridge" id="cartridge")
                        label(for="cartridge") 
                            | Вспененный полипропилен
                            +icon('check','filter-check__icon')
                    .filter-check__item
                        input(type="checkbox" name="cartridge1" id="cartridge1")
                        label(for="cartridge1") 
                            | Гофрированный полипропилен
                            +icon('check','filter-check__icon')
                    .filter-check__item
                        input(type="checkbox" name="cartridge2" id="cartridge2")
                        label(for="cartridge2") 
                            | Шнурковый полипропилен
                            +icon('check','filter-check__icon')
                    .filter-check__item
                        input(type="checkbox" name="cartridge3" id="cartridge3")
                        label(for="cartridge3") 
                            | Гранулированный уголь
                            +icon('check','filter-check__icon')
                    .filter-check__item
                        input(type="checkbox" name="cartridge4" id="cartridge4")
                        label(for="cartridge4") 
                            | Брикетированный уголь
                            +icon('check','filter-check__icon')
                    .filter-check__item
                        input(type="checkbox" name="cartridge6" id="cartridge6")
                        label(for="cartridge6") 
                            | Полипропилен+уголь
                            +icon('check','filter-check__icon')
                    .filter-check__item
                        input(type="checkbox" name="cartridge7" id="cartridge7")
                        label(for="cartridge7") 
                            | Умягчающий
                            +icon('check','filter-check__icon')
                    .filter-check__item
                        input(type="checkbox" name="cartridge8" id="cartridge8")
                        label(for="cartridge8") 
                            | Пост-фильтр
                            +icon('check','filter-check__icon')
                    .filter-check__item
                        input(type="checkbox" name="cartridge9" id="cartridge9")
                        label(for="cartridge9") 
                            | Минерализатор
                            +icon('check','filter-check__icon')
                    .filter-check__item
                        input(type="checkbox" name="cartridge10" id="cartridge10")
                        label(for="cartridge10") 
                            | Керамический
                            +icon('check','filter-check__icon')
            .filter__item 
                .filter__top
                    | Страна производитель
                    .filter__plus
                .filter-check
                    .filter-check__item
                        input(type="checkbox" name="country" id="country")
                        label(for="country") 
                            | Россия
                            +icon('check','filter-check__icon')
                    .filter-check__item
                        input(type="checkbox" name="country1" id="country1")
                        label(for="country1") 
                            | Африка
                            +icon('check','filter-check__icon')
                    .filter-check__item
                        input(type="checkbox" name="country2" id="country2")
                        label(for="country2") 
                            | Северная Корея
                            +icon('check','filter-check__icon')
            .filter__item 
                .filter__top
                    | Диаметр колбы
                    .filter__plus
                .filter-check
                    .filter-check__item
                        input(type="checkbox" name="flask" id="flask")
                        label(for="flask") 
                            | 20 мм
                            +icon('check','filter-check__icon')
                    .filter-check__item
                        input(type="checkbox" name="flask1" id="flask1")
                        label(for="flask1") 
                            | 80мм
                            +icon('check','filter-check__icon')
                    .filter-check__item
                        input(type="checkbox" name="flask2" id="flask2")
                        label(for="flask2")
                            | 110мм
                            +icon('check','filter-check__icon')
            .filter__item 
                .filter__top
                    | Высота
                    .filter__plus
                .filter-check
                    .filter-check__item
                        input(type="checkbox" name="height" id="height")
                        label(for="height") 
                            | 200 мм
                            +icon('check','filter-check__icon')
                    .filter-check__item
                        input(type="checkbox" name="height1" id="height1")
                        label(for="height1") 
                            | 400мм
                            +icon('check','filter-check__icon')
                    .filter-check__item
                        input(type="checkbox" name="height2" id="height2")
                        label(for="height2")
                            | 1000мм
                            +icon('check','filter-check__icon')
            .filter__item 
                .filter__top
                    | Кол-во этапов очистки
                    .filter__plus
                .filter-check
                    .filter-check__item
                        input(type="checkbox" name="step" id="step")
                        label(for="step") 
                            | 1
                            +icon('check','filter-check__icon')
                    .filter-check__item
                        input(type="checkbox" name="step1" id="step1")
                        label(for="step1") 
                            | 2
                            +icon('check','filter-check__icon')
                    .filter-check__item
                        input(type="checkbox" name="step2" id="step2")
                        label(for="step2")
                            | 3
                            +icon('check','filter-check__icon')
                    
    .w-page__col
        .catalog
            .breadcrumbs
                .breadcrumbs__item
                    a(href="#") Главная
                .breadcrumbs__item
                    a(href="#") Фильтры для питевой воды
                .breadcrumbs__current Проточные фильтры
            h1 Проточные фильтры
            .catalog__tags.tags 
                .tags__inner
                    a(href="#").tags__item Фильтры-кувшины (15)
                    a(href="#").tags__item Насадки на кран (10)
                    a(href="#").tags__item Фильтры для квартиры (140)
                    a(href="#").tags__item Ecosof (30)
                    a(href="#").tags__item Фильтры под мойку (45)
                    a(href="#").tags__item Системы обратного осмоса (25)
                    a(href="#").tags__item Умягчители воды (48)

            .catalog__panel
                .c-sort
                    | Сортировать по:
                    .c-sort-price 
                        | Цене
                        +icon('sort','c-sort-price__icon')
                .catalog__toolbar
                    .c-sort
                        | Выводить по:
                        .c-sort__count
                            span 12
                        .c-sort__dropdown
                            .c-sort__item 12
                            .c-sort__item 24
                            .c-sort__item 48
                    .c-sort-tools
                        .c-sort-tools__item(data-tab="list")
                            +icon('menu-icon','c-sort-tools__icon')
                        .c-sort-tools__item._active(data-tab="grid")
                            +icon('tile','c-sort-tools__icon')
                    .c-sort-filter(data-filter-btn)
                        | Фильтр
                        +icon('filter','c-sort-filter__icon')

            .catalog__inner
                .i-card__item
                    .i-card__status._green Хит продаж
                    .i-card__top
                        +icon('like','favorites__icon')
                        a(href="#") 
                            +icon('compare','favorites__icon')
                    .i-card__img 
                        img(src="static/images/img/slider/1.png" alt="Картинка")
                    .i-card__name 
                        | Система обратного осмоса 
                        br
                        | AURO-505U-JG
                        .i-card__info
                            | Глубокая очистка питьевой воды. Увеличенный ресурс.  Легкая замена за минуту. Замена вместе с корпусом вместе с корпусом.
                    .i-card__price
                        .i-card__price-current 7000 р.
                        .i-card__basket
                            +icon('cart','i-card__basket-icon')
                            span В корзину
                    .i-card__info
                        | Глубокая очистка питьевой воды. Увеличенный ресурс.  Легкая замена за минуту. Замена вместе с корпусом вместе с корпусом.
                .i-card__item
                    .i-card__status._green Хит продаж
                    .i-card__top
                        +icon('like','favorites__icon')
                        a(href="#") 
                            +icon('compare','favorites__icon')
                    .i-card__img 
                        img(src="static/images/img/slider/1.png" alt="Картинка")
                    .i-card__name 
                        | Система обратного осмоса 
                        br
                        | AURO-505U-JG
                        .i-card__info
                            | Глубокая очистка питьевой воды. Увеличенный ресурс.  Легкая замена за минуту. Замена вместе с корпусом вместе с корпусом.
                    .i-card__price
                        .i-card__price-old 7000 р.
                        .i-card__price-new 7000 р.
                        .i-card__basket
                            +icon('cart','i-card__basket-icon')
                            span В корзину
                    .i-card__info
                        | Глубокая очистка питьевой воды. Увеличенный ресурс.  Легкая замена за минуту. Замена вместе с корпусом вместе с корпусом.
                .i-card__item
                    .i-card__top 
                        +icon('like','favorites__icon')
                        a(href="#") 
                            +icon('compare','favorites__icon')
                    .i-card__img 
                        img(src="static/images/img/slider/1.png" alt="Картинка")
                    .i-card__name 
                        | Система обратного осмоса 
                        br
                        | AURO-505U-JG
                        .i-card__info
                            | Глубокая очистка питьевой воды. Увеличенный ресурс.  Легкая замена за минуту. Замена вместе с корпусом вместе с корпусом.
                    .i-card__price
                        .i-card__price-old 7000 р.
                        .i-card__price-new 7000 р.
                        .i-card__basket
                            +icon('cart','i-card__basket-icon')
                            span В корзину
                    .i-card__info
                        | Глубокая очистка питьевой воды. Увеличенный ресурс.  Легкая замена за минуту. Замена вместе с корпусом вместе с корпусом.
                .i-card__item
                    .i-card__top 
                        +icon('like','favorites__icon')
                        a(href="#") 
                            +icon('compare','favorites__icon')
                    .i-card__img 
                        img(src="static/images/img/slider/1.png" alt="Картинка")
                    .i-card__name 
                        | Система обратного осмоса 
                        br
                        | AURO-505U-JG
                        .i-card__info
                            | Глубокая очистка питьевой воды. Увеличенный ресурс.  Легкая замена за минуту. Замена вместе с корпусом вместе с корпусом.
                    .i-card__price
                        .i-card__price-old 7000 р.
                        .i-card__price-new 7000 р.
                        .i-card__basket
                            +icon('cart','i-card__basket-icon')
                            span В корзину
                    .i-card__info
                        | Глубокая очистка питьевой воды. Увеличенный ресурс.  Легкая замена за минуту. Замена вместе с корпусом вместе с корпусом.
                .i-card__item
                    .i-card__top 
                        +icon('like','favorites__icon')
                        a(href="#") 
                            +icon('compare','favorites__icon')
                    .i-card__img 
                        img(src="static/images/img/slider/1.png" alt="Картинка")
                    .i-card__name 
                        | Система обратного осмоса 
                        br
                        | AURO-505U-JG
                        .i-card__info
                            | Глубокая очистка питьевой воды. Увеличенный ресурс.  Легкая замена за минуту. Замена вместе с корпусом вместе с корпусом.
                    .i-card__price
                        .i-card__price-old 7000 р.
                        .i-card__price-new 7000 р.
                        .i-card__basket
                            +icon('cart','i-card__basket-icon')
                            span В корзину
                    .i-card__info
                        | Глубокая очистка питьевой воды. Увеличенный ресурс.  Легкая замена за минуту. Замена вместе с корпусом вместе с корпусом.
                .i-card__item
                    .i-card__top 
                        +icon('like','favorites__icon')
                        a(href="#") 
                            +icon('compare','favorites__icon')
                    .i-card__img 
                        img(src="static/images/img/slider/1.png" alt="Картинка")
                    .i-card__name 
                        | Система обратного осмоса 
                        br
                        | AURO-505U-JG
                        .i-card__info
                            | Глубокая очистка питьевой воды. Увеличенный ресурс.  Легкая замена за минуту. Замена вместе с корпусом вместе с корпусом.
                    .i-card__price
                        .i-card__price-old 7000 р.
                        .i-card__price-new 7000 р.
                        .i-card__basket
                            +icon('cart','i-card__basket-icon')
                            span В корзину
                    .i-card__info
                        | Глубокая очистка питьевой воды. Увеличенный ресурс.  Легкая замена за минуту. Замена вместе с корпусом вместе с корпусом.
                .i-card__item
                    .i-card__top 
                        +icon('like','favorites__icon')
                        a(href="#") 
                            +icon('compare','favorites__icon')
                    .i-card__img 
                        img(src="static/images/img/slider/1.png" alt="Картинка")
                    .i-card__name 
                        | Система обратного осмоса 
                        br
                        | AURO-505U-JG
                        .i-card__info
                            | Глубокая очистка питьевой воды. Увеличенный ресурс.  Легкая замена за минуту. Замена вместе с корпусом вместе с корпусом.
                    .i-card__price
                        .i-card__price-old 7000 р.
                        .i-card__price-new 7000 р.
                        .i-card__basket
                            +icon('cart','i-card__basket-icon')
                            span В корзину
                    .i-card__info
                        | Глубокая очистка питьевой воды. Увеличенный ресурс.  Легкая замена за минуту. Замена вместе с корпусом вместе с корпусом.
                .i-card__item
                    .i-card__top 
                        +icon('like','favorites__icon')
                        a(href="#") 
                            +icon('compare','favorites__icon')
                    .i-card__img 
                        img(src="static/images/img/slider/1.png" alt="Картинка")
                    .i-card__name 
                        | Система обратного осмоса 
                        br
                        | AURO-505U-JG
                        .i-card__info
                            | Глубокая очистка питьевой воды. Увеличенный ресурс.  Легкая замена за минуту. Замена вместе с корпусом вместе с корпусом.
                    .i-card__price
                        .i-card__price-old 7000 р.
                        .i-card__price-new 7000 р.
                        .i-card__basket
                            +icon('cart','i-card__basket-icon')
                            span В корзину
                    .i-card__info
                        | Глубокая очистка питьевой воды. Увеличенный ресурс.  Легкая замена за минуту. Замена вместе с корпусом вместе с корпусом.
                .i-card__item
                    .i-card__top 
                        +icon('like','favorites__icon')
                        a(href="#") 
                            +icon('compare','favorites__icon')
                    .i-card__img 
                        img(src="static/images/img/slider/1.png" alt="Картинка")
                    .i-card__name 
                        | Система обратного осмоса 
                        br
                        | AURO-505U-JG
                        .i-card__info
                            | Глубокая очистка питьевой воды. Увеличенный ресурс.  Легкая замена за минуту. Замена вместе с корпусом вместе с корпусом.
                    .i-card__price
                        .i-card__price-old 7000 р.
                        .i-card__price-new 7000 р.
                        .i-card__basket
                            +icon('cart','i-card__basket-icon')
                            span В корзину
                    .i-card__info
                        | Глубокая очистка питьевой воды. Увеличенный ресурс.  Легкая замена за минуту. Замена вместе с корпусом вместе с корпусом.
            
            .add-card-show Показать еще
            .pagination
                .pagination__btn.pagination__btn-left
                    +icon('arrow-point-left','pagination__btn_icon')
                ul 
                    li._active
                        a(href="#") 1
                    li 
                        a(href="#") 2
                    li 
                        a(href="#") 3
                    li 
                        a(href="#") 4
                    li 
                        a(href="#") 5
                .pagination__btn.pagination__btn-right
                    +icon('arrow-point-right','pagination__btn_icon')
                