.s-products
    .container
        .filterType
            a(href="#" target="_blank") Фильтры для квартиры
            a(href="#" target="_blank") Фильтры для частного дома
            a(href="#" target="_blank") Фильтры для предприятия
            a(href="#" target="_blank") Фильтры под мойку

        .servicesType
            a(href="#").servicesType__item
                .servicesType__top
                    img(src="static/images/img/services/services3.png" alt="Картинка")
                .servicesType__name Анализ воды
                p Химический анализ воды на 11 показателей, результат за 24 часа

            a(href="#").servicesType__item
                .servicesType__top
                    img(src="static/images/img/services/services0.png" alt="Картинка")
                .servicesType__name Подбор оборудования
                p Обоснуем - выбор оборудования для клиента просто и понятно

            a(href="#").servicesType__item
                .servicesType__top
                    img(src="static/images/img/services/services2.png" alt="Картинка")
                .servicesType__name Монтаж
                p Бесплатная доставка в течении 24 часов
    
            a(href="#").servicesType__item
                .servicesType__top
                    img(src="static/images/img/services/services1.png" alt="Картинка")
                .servicesType__name Сервисное обслуживание
                p Гарантийное и постгарантийное, установим и обслужим ваш фильтр
        .section-title
            h1.section-title__text
                img(src="static/images/img/title-img.png" alt="Картинка")
                | Наша продукция

        .product
            .row 
                .col-lg-4.col-md-6.col-sm-12
                    .product__item.product--big
                        img(src="static/images/img/product/1.png" alt="Картриджи")
                        .product__plus
                        .product__title.max-w-170
                            | Картриджи и сменные модули
                        .product__hover
                            span Картриджи и сменные модули
                            a(href="#" target="_blank") Фильтры-кувшины
                            a(href="#" target="_blank") Насадки на кран
                            a(href="#" target="_blank") Проточные сорбционные фильтры
                            a(href="#" target="_blank") Системы обратного осмоса
                    .product__item
                        img(src="static/images/img/product/5.png" alt="Фильтры для питьевой воды")
                        .product__plus
                        .product__title 
                            | Фильтры для питьевой воды
                        .product__hover
                            span Фильтры для питьевой воды
                            a(href="#" target="_blank") Фильтры-кувшины
                            a(href="#" target="_blank") Насадки на кран
                            a(href="#" target="_blank") Проточные сорбционные фильтры
                            a(href="#" target="_blank") Системы обратного осмоса
                    .product__item
                        img(src="static/images/img/product/8.png" alt="Расходные материалы")
                        .product__plus
                        .product__title Расходные материалы
                        .product__hover
                            span Расходные материалы
                            a(href="#" target="_blank") Фильтры-кувшины
                            a(href="#" target="_blank") Насадки на кран
                            a(href="#" target="_blank") Проточные сорбционные фильтры
                            a(href="#" target="_blank") Системы обратного осмоса
                .col-lg-4.col-md-6.col-sm-12
                    .product__item.product--big
                        img(src="static/images/img/product/2.png" alt="Оборудование для загородных домов")
                        .product__plus
                        .product__title.max-w-170
                            | Оборудование для загородных домов
                        .product__hover
                            span Оборудование для загородных домов
                            a(href="#" target="_blank") Фильтры-кувшины
                            a(href="#" target="_blank") Насадки на кран
                            a(href="#" target="_blank") Проточные сорбционные фильтры
                            a(href="#" target="_blank") Системы обратного осмоса
                    .product__item
                        img(src="static/images/img/product/6.png" alt="Насосное оборудование")
                        .product__plus
                        .product__title Насосное оборудование
                        .product__hover
                            span Насосное оборудование
                            a(href="#" target="_blank") Фильтры-кувшины
                            a(href="#" target="_blank") Насадки на кран
                            a(href="#" target="_blank") Проточные сорбционные фильтры
                            a(href="#" target="_blank") Системы обратного осмоса
                    .product__item
                        img(src="static/images/img/product/9.png" alt="Сопутствующие товары")
                        .product__plus
                        .product__title
                            | Сопутствующие товары
                        .product__hover
                            span Сопутствующие товары
                            a(href="#" target="_blank") Фильтры-кувшины
                            a(href="#" target="_blank") Насадки на кран
                            a(href="#" target="_blank") Проточные сорбционные фильтры
                            a(href="#" target="_blank") Системы обратного осмоса
                .col-lg-4.col-md-12.col-sm-12
                    .row
                        .col-lg-12.col-md-6.col-sm-12
                            .product__item
                                img(src="static/images/img/product/3.png" alt="Фильтры для душа и бытовой техники")
                                .product__plus
                                .product__title.max-w-170
                                    | Фильтры для душа и бытовой техники
                                .product__hover
                                    span Фильтры для душа и бытовой техники
                                    a(href="#" target="_blank") Фильтры-кувшины
                                    a(href="#" target="_blank") Насадки на кран
                                    a(href="#" target="_blank") Проточные сорбционные фильтры
                                    a(href="#" target="_blank") Системы обратного осмоса
                        .col-lg-12.col-md-6.col-sm-12
                            .product__item
                                img(src="static/images/img/product/4.png" alt="Фильтры для офиса и предприятий")
                                .product__plus
                                .product__title.max-w-200
                                    | Фильтры для офиса и предприятий
                                .product__hover
                                    span Фильтры для офиса и предприятий
                                    a(href="#" target="_blank") Фильтры-кувшины
                                    a(href="#" target="_blank") Насадки на кран
                                    a(href="#" target="_blank") Проточные сорбционные фильтры
                                    a(href="#" target="_blank") Системы обратного осмоса
                        .col-lg-12.col-md-6.col-sm-12
                            .product__item
                                img(src="static/images/img/product/7.png" alt="Запчасти и комплектующие")
                                .product__plus
                                .product__title Запчасти и комплектующие
                                .product__hover
                                    span Запчасти и комплектующие
                                    a(href="#" target="_blank") Фильтры-кувшины
                                    a(href="#" target="_blank") Насадки на кран
                                    a(href="#" target="_blank") Проточные сорбционные фильтры
                                    a(href="#" target="_blank") Системы обратного осмоса
                        .col-lg-12.col-md-6.col-sm-12
                            .product__item
                                img(src="static/images/img/product/10.png" alt="Услуги")
                                .product__plus
                                .product__title Услуги
                                .product__hover
                                    span Услуги
                                    a(href="#" target="_blank") Фильтры-кувшины
                                    a(href="#" target="_blank") Насадки на кран
                                    a(href="#" target="_blank") Проточные сорбционные фильтры
                                    a(href="#" target="_blank") Системы обратного осмоса