.s-questions
    .container
        .section-title.section-title--quest.mb-30
            .section-title__text
                img(src="static/images/img/title-img.png" alt="Картинка")
                | Вопросы-ответы
        p Мы собрали самые часто задаваемые вопросы и ответы на них:)

        .questions
            .questions__list
                .questions__item
                    .questions__top
                        span
                        | Мне нужно установить фильтры в доме, сколько это стоит?
                    .questions__body
                        | Очень частое заблуждение. Химический состав воды каждого индивидуального источника водоснабжения неповторим. В таких соседских скважинах химические показатели могут быть совершенно разные. Связано это с тем, что водоносные слои находятся на разных уровнях межпластовых и грунтовых вод.
                .questions__item
                    .questions__top
                        span
                        | У меня есть анализ воды, сделал его сосед на свою скважину, но она находится рядом с моей.
                    .questions__body
                        | Очень частое заблуждение. Химический состав воды каждого индивидуального источника водоснабжения неповторим. В таких соседских скважинах химические показатели могут быть совершенно разные. Связано это с тем, что водоносные слои находятся на разных уровнях межпластовых и грунтовых вод.
                .questions__item
                    .questions__top
                        span
                        | Вода из обратного осмоса не полезна, т.к. в ней отсутствуют минералы. Так?
                    .questions__body
                        | Очень частое заблуждение. Химический состав воды каждого индивидуального источника водоснабжения неповторим. В таких соседских скважинах химические показатели могут быть совершенно разные. Связано это с тем, что водоносные слои находятся на разных уровнях межпластовых и грунтовых вод.
                .questions__item
                    .questions__top
                        span
                        | А как я узнаю что умягчитель не работает?
                    .questions__body
                        | Очень частое заблуждение. Химический состав воды каждого индивидуального источника водоснабжения неповторим. В таких соседских скважинах химические показатели могут быть совершенно разные. Связано это с тем, что водоносные слои находятся на разных уровнях межпластовых и грунтовых вод.
            .questions__btn 
                span Не нашли ответа на свой вопрос?
                button(type="button" class="Button Button-quest" data-popup-target="#Call") Задайте вопрос
