.s-sliders
    .container
        .sliderProduct
            .sliderProduct__top
                span Лидеры продаж
                a(href="#") 
                    | Смотреть все
                    +icon('arrow-next','sliderProduct__all')
            .slickSlider
                .slickSlider__list(data-slider-card)
                    .i-card__item
                        .i-card__top 
                            .i-card__status._green Хит продаж
                            +icon('like','favorites__icon')
                        .i-card__img 
                            img(src="static/images/img/slider/1.png" alt="Картинка")
                        .i-card__name 
                            | Система обратного осмоса 
                            br
                            | AURO-505U-JG
                        .i-card__price
                            .i-card__price-old 7000 р.
                            .i-card__price-new 7000 р.
                            .i-card__basket
                                +icon('cart','i-card__basket-icon')
                        .i-card__info
                            | Глубокая очистка питьевой воды. Увеличенный ресурс.  Легкая замена за минуту. Замена вместе с корпусом вместе с корпусом.
                    .i-card__item
                        .i-card__top 
                            .i-card__status._green Хит продаж
                            +icon('like','favorites__icon')
                        .i-card__img 
                            img(src="static/images/img/slider/2.png" alt="Картинка")
                        .i-card__name 
                            | Фильтр-кувшин НАША ВОДА 
                            br
                            | Максима Синий 5л
                        .i-card__price
                            .i-card__price-current 7000 р.
                            .i-card__basket
                                +icon('cart','i-card__basket-icon')
                        .i-card__info
                            | Глубокая очистка питьевой воды. Увеличенный ресурс.  Легкая замена за минуту. Замена вместе с корпусом вместе с корпусом.
                    .i-card__item
                        .i-card__top 
                            .i-card__status._green Хит продаж
                            +icon('like','favorites__icon')
                        .i-card__img 
                            img(src="static/images/img/slider/3.png" alt="Картинка")
                        .i-card__name 
                            | Фильтр из нержавеющей стали 
                            br
                            | USTM WF-HOT-SS-10 3/4
                        .i-card__price
                            .i-card__price-old 7000 р.
                            .i-card__price-new 2750 р.
                            .i-card__basket
                                +icon('cart','i-card__basket-icon')
                        .i-card__info
                            | Глубокая очистка питьевой воды. Увеличенный ресурс.  Легкая замена за минуту. Замена вместе с корпусом вместе с корпусом.
                    .i-card__item
                        .i-card__top 
                            .i-card__status._green Хит продаж
                            +icon('like','favorites__icon')
                        .i-card__img 
                            img(src="static/images/img/slider/4.png" alt="Картинка")
                        .i-card__name 
                            | Система обратного осмоса  
                            br
                            | Ecosoft MO450ECOSTD
                        .i-card__price
                            .i-card__price-current 7000 р.
                            .i-card__basket
                                +icon('cart','i-card__basket-icon')
                        .i-card__info
                            | Глубокая очистка питьевой воды. Увеличенный ресурс.  Легкая замена за минуту. Замена вместе с корпусом вместе с корпусом.
                    .i-card__item
                        .i-card__top 
                            .i-card__status._green Хит продаж
                            +icon('like','favorites__icon')
                        .i-card__img 
                            img(src="static/images/img/slider/5.png" alt="Картинка")
                        .i-card__name 
                            | Система обратного осмоса  
                            br
                            | Ecosoft MO450ECOSTD
                        .i-card__price
                            .i-card__price-current 7000 р.
                            .i-card__basket
                                +icon('cart','i-card__basket-icon')
                        .i-card__info
                            | Глубокая очистка питьевой воды. Увеличенный ресурс.  Легкая замена за минуту. Замена вместе с корпусом вместе с корпусом.
                .slickSlider__arrows
                    .slickSlider__arrow.slickSlider__prev
                        +icon('left','slickSlider__arrow-icon')
                    .slickSlider__arrow.slickSlider__next
                        +icon('right','slickSlider__arrow-icon')
        .sliderProduct
            .sliderProduct__top
                span Новинки
                a(href="#") 
                    | Смотреть все
                    +icon('arrow-next','sliderProduct__all')
            .slickSlider
                .slickSlider__list(data-slider-card)
                    .i-card__item
                        .i-card__top 
                            .i-card__status._blue новинка
                            +icon('like','favorites__icon')
                        .i-card__img 
                            img(src="static/images/img/slider/1.png" alt="Картинка")
                        .i-card__name 
                            | Система обратного осмоса 
                            br
                            | AURO-505U-JG
                        .i-card__price
                            .i-card__price-old 7000 р.
                            .i-card__price-new 7000 р.
                            .i-card__basket
                                +icon('cart','i-card__basket-icon')
                        .i-card__info
                            | Глубокая очистка питьевой воды. Увеличенный ресурс.  Легкая замена за минуту. Замена вместе с корпусом вместе с корпусом.
                    .i-card__item
                        .i-card__top 
                            .i-card__status._blue новинка
                            +icon('like','favorites__icon')
                        .i-card__img 
                            img(src="static/images/img/slider/2.png" alt="Картинка")
                        .i-card__name 
                            | Фильтр-кувшин НАША ВОДА 
                            br
                            | Максима Синий 5л
                        .i-card__price
                            .i-card__price-current 7000 р.
                            .i-card__basket
                                +icon('cart','i-card__basket-icon')
                        .i-card__info
                            | Глубокая очистка питьевой воды. Увеличенный ресурс.  Легкая замена за минуту. Замена вместе с корпусом вместе с корпусом.
                    .i-card__item
                        .i-card__top 
                            .i-card__status._blue новинка
                            +icon('like','favorites__icon')
                        .i-card__img 
                            img(src="static/images/img/slider/3.png" alt="Картинка")
                        .i-card__name 
                            | Фильтр из нержавеющей стали 
                            br
                            | USTM WF-HOT-SS-10 3/4
                        .i-card__price
                            .i-card__price-old 7000 р.
                            .i-card__price-new 2750 р.
                            .i-card__basket
                                +icon('cart','i-card__basket-icon')
                        .i-card__info
                            | Глубокая очистка питьевой воды. Увеличенный ресурс.  Легкая замена за минуту. Замена вместе с корпусом вместе с корпусом.
                    .i-card__item
                        .i-card__top 
                            .i-card__status._blue новинка
                            +icon('like','favorites__icon')
                        .i-card__img 
                            img(src="static/images/img/slider/4.png" alt="Картинка")
                        .i-card__name 
                            | Система обратного осмоса  
                            br
                            | Ecosoft MO450ECOSTD
                        .i-card__price
                            .i-card__price-current 7000 р.
                            .i-card__basket
                                +icon('cart','i-card__basket-icon')
                        .i-card__info
                            | Глубокая очистка питьевой воды. Увеличенный ресурс.  Легкая замена за минуту. Замена вместе с корпусом вместе с корпусом.
                    .i-card__item
                        .i-card__top 
                            .i-card__status._blue новинка
                            +icon('like','favorites__icon')
                        .i-card__img 
                            img(src="static/images/img/slider/5.png" alt="Картинка")
                        .i-card__name 
                            | Система обратного осмоса  
                            br
                            | Ecosoft MO450ECOSTD
                        .i-card__price
                            .i-card__price-current 7000 р.
                            .i-card__basket
                                +icon('cart','i-card__basket-icon')
                        .i-card__info
                            | Глубокая очистка питьевой воды. Увеличенный ресурс.  Легкая замена за минуту. Замена вместе с корпусом вместе с корпусом.
                .slickSlider__arrows
                    .slickSlider__arrow.slickSlider__prev
                        +icon('left','slickSlider__arrow-icon')
                    .slickSlider__arrow.slickSlider__next
                        +icon('right','slickSlider__arrow-icon')
        .sliderProduct
            .sliderProduct__top
                span Товары со скидкой
                a(href="#") 
                    | Смотреть все
                    +icon('arrow-next','sliderProduct__all') 

            .slickSlider
                .slickSlider__list(data-slider-card)
                    .i-card__item
                        .i-card__top 
                            .i-card__status._red распродажа
                            +icon('like','favorites__icon')
                        .i-card__img 
                            img(src="static/images/img/slider/1.png" alt="Картинка")
                        .i-card__name 
                            | Система обратного осмоса 
                            br
                            | AURO-505U-JG
                        .i-card__price
                            .i-card__price-old 7000 р.
                            .i-card__price-new 7000 р.
                            .i-card__basket
                                +icon('cart','i-card__basket-icon')
                        .i-card__info
                            | Глубокая очистка питьевой воды. Увеличенный ресурс.  Легкая замена за минуту. Замена вместе с корпусом вместе с корпусом.
                    .i-card__item
                        .i-card__top 
                            .i-card__status._red распродажа
                            +icon('like','favorites__icon')
                        .i-card__img 
                            img(src="static/images/img/slider/2.png" alt="Картинка")
                        .i-card__name 
                            | Фильтр-кувшин НАША ВОДА 
                            br
                            | Максима Синий 5л
                        .i-card__price
                            .i-card__price-current 7000 р.
                            .i-card__basket
                                +icon('cart','i-card__basket-icon')
                        .i-card__info
                            | Глубокая очистка питьевой воды. Увеличенный ресурс.  Легкая замена за минуту. Замена вместе с корпусом вместе с корпусом.
                    .i-card__item
                        .i-card__top 
                            .i-card__status._red распродажа
                            +icon('like','favorites__icon')
                        .i-card__img 
                            img(src="static/images/img/slider/3.png" alt="Картинка")
                        .i-card__name 
                            | Фильтр из нержавеющей стали 
                            br
                            | USTM WF-HOT-SS-10 3/4
                        .i-card__price
                            .i-card__price-old 7000 р.
                            .i-card__price-new 2750 р.
                            .i-card__basket
                                +icon('cart','i-card__basket-icon')
                        .i-card__info
                            | Глубокая очистка питьевой воды. Увеличенный ресурс.  Легкая замена за минуту. Замена вместе с корпусом вместе с корпусом.
                    .i-card__item
                        .i-card__top 
                            .i-card__status._red распродажа
                            +icon('like','favorites__icon')
                        .i-card__img 
                            img(src="static/images/img/slider/4.png" alt="Картинка")
                        .i-card__name 
                            | Система обратного осмоса  
                            br
                            | Ecosoft MO450ECOSTD
                        .i-card__price
                            .i-card__price-current 7000 р.
                            .i-card__basket
                                +icon('cart','i-card__basket-icon')
                        .i-card__info
                            | Глубокая очистка питьевой воды. Увеличенный ресурс.  Легкая замена за минуту. Замена вместе с корпусом вместе с корпусом.
                    .i-card__item
                        .i-card__top 
                            .i-card__status._red распродажа
                            +icon('like','favorites__icon')
                        .i-card__img 
                            img(src="static/images/img/slider/5.png" alt="Картинка")
                        .i-card__name 
                            | Система обратного осмоса  
                            br
                            | Ecosoft MO450ECOSTD
                        .i-card__price
                            .i-card__price-current 7000 р.
                            .i-card__basket
                                +icon('cart','i-card__basket-icon')
                        .i-card__info
                            | Глубокая очистка питьевой воды. Увеличенный ресурс.  Легкая замена за минуту. Замена вместе с корпусом вместе с корпусом.
                .slickSlider__arrows
                    .slickSlider__arrow.slickSlider__prev
                        +icon('left','slickSlider__arrow-icon')
                    .slickSlider__arrow.slickSlider__next
                        +icon('right','slickSlider__arrow-icon')
        .sliderProduct
            .sliderProduct__top
                span Рекомендуем
                a(href="#") 
                    | Смотреть все
                    +icon('arrow-next','sliderProduct__all') 

            .slickSlider
                .slickSlider__list(data-slider-card)
                    .i-card__item
                        .i-card__top 
                            +icon('like','favorites__icon')
                        .i-card__img 
                            img(src="static/images/img/slider/1.png" alt="Картинка")
                        .i-card__name 
                            | Система обратного осмоса 
                            br
                            | AURO-505U-JG
                        .i-card__price
                            .i-card__price-old 7000 р.
                            .i-card__price-new 7000 р.
                            .i-card__basket
                                +icon('cart','i-card__basket-icon')
                        .i-card__info
                            | Глубокая очистка питьевой воды. Увеличенный ресурс.  Легкая замена за минуту. Замена вместе с корпусом вместе с корпусом.
                    .i-card__item
                        .i-card__top
                            +icon('like','favorites__icon')
                        .i-card__img 
                            img(src="static/images/img/slider/2.png" alt="Картинка")
                        .i-card__name 
                            | Фильтр-кувшин НАША ВОДА 
                            br
                            | Максима Синий 5л
                        .i-card__price
                            .i-card__price-current 7000 р.
                            .i-card__basket
                                +icon('cart','i-card__basket-icon')
                        .i-card__info
                            | Глубокая очистка питьевой воды. Увеличенный ресурс.  Легкая замена за минуту. Замена вместе с корпусом вместе с корпусом.
                    .i-card__item
                        .i-card__top
                            +icon('like','favorites__icon')
                        .i-card__img 
                            img(src="static/images/img/slider/3.png" alt="Картинка")
                        .i-card__name 
                            | Фильтр из нержавеющей стали 
                            br
                            | USTM WF-HOT-SS-10 3/4
                        .i-card__price
                            .i-card__price-old 7000 р.
                            .i-card__price-new 2750 р.
                            .i-card__basket
                                +icon('cart','i-card__basket-icon')
                        .i-card__info
                            | Глубокая очистка питьевой воды. Увеличенный ресурс.  Легкая замена за минуту. Замена вместе с корпусом вместе с корпусом.
                    .i-card__item
                        .i-card__top
                            +icon('like','favorites__icon')
                        .i-card__img 
                            img(src="static/images/img/slider/4.png" alt="Картинка")
                        .i-card__name 
                            | Система обратного осмоса  
                            br
                            | Ecosoft MO450ECOSTD
                        .i-card__price
                            .i-card__price-current 7000 р.
                            .i-card__basket
                                +icon('cart','i-card__basket-icon')
                        .i-card__info
                            | Глубокая очистка питьевой воды. Увеличенный ресурс.  Легкая замена за минуту. Замена вместе с корпусом вместе с корпусом.
                    .i-card__item
                        .i-card__top
                            +icon('like','favorites__icon')
                        .i-card__img 
                            img(src="static/images/img/slider/5.png" alt="Картинка")
                        .i-card__name 
                            | Система обратного осмоса  
                            br
                            | Ecosoft MO450ECOSTD
                        .i-card__price
                            .i-card__price-current 7000 р.
                            .i-card__basket
                                +icon('cart','i-card__basket-icon')
                        .i-card__info
                            | Глубокая очистка питьевой воды. Увеличенный ресурс.  Легкая замена за минуту. Замена вместе с корпусом вместе с корпусом.
                .slickSlider__arrows
                    .slickSlider__arrow.slickSlider__prev
                        +icon('left','slickSlider__arrow-icon')
                    .slickSlider__arrow.slickSlider__next
                        +icon('right','slickSlider__arrow-icon')
