footer.footer
    .container
        .footer__inner 
            .footer__col
                a(href="#").logo.footer__logo
                    img(src="static/images/img/logo-footer.svg" alt="logo")
                .copyright @2020 Все права защищены
                a(href="#").performer
                    | Создание сайта
                    img(src="static/images/img/utex.png" alt="utex")
            .footer__col
                .column__title Важное:
                .column__list.column__link
                    a(href="#") Новости 
                    a(href="#") Карта лояльности 
                    a(href="#") Статьи / Полезная информация 
                    a(href="#") Политика конфиденциальности 
                    a(href="#") Карта сайта 
            .footer__col
                .column__title Контакты:
                .column__phone.column__link
                    a(href="tel:88005007533") 8 (800) 500-75-33
                    a(href="tel:83472009684") 8 (347) 200-96-84
                .column__email.column__link
                    a(href="mailto:sales@filtrolog.com") sales@filtrolog.com
                .f-socials
                    .f-socials__title Мы в соц сетях:
                    .f-socials__list
                        a(href="#")
                            img(src="static/images/img/socials/instagram.svg" alt="instagram")
                        a(href="#")
                            img(src="static/images/img/socials/fb.svg" alt="facebook")
                        a(href="#")
                            img(src="static/images/img/socials/vk-outline.svg" alt="Vk")
                        a(href="#")
                            img(src="static/images/img/socials/youtube.svg" alt="youtube")
                .footer-mobile
                    .copyright @2020 Все права защищены
                    a(href="#").performer
                        | Создание сайта
                        img(src="static/images/img/utex.png" alt="utex")






